/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .peruncontainer {
    height: 100%;
  }
  
  .treeviewLbl {
    border: dimgray;
    border-width: thin;
    padding: 5px;
  }
  .e-custom {
    border-radius: 0;
    height: 80%;
    margin: 6px;
  }
  
  .e-custom,
  .e-custom:hover,
  .e-custom:focus,
  .e-custom:active {
    background-color: hsl(234, 100%, 63%);
    color: #fff;
  }
  .title {
    text-align: center;
    font-size: 20px;
    padding: 15px;
  }
  
  .sub-title {
    /* text-align: center; */
    font-size: 16px;
    padding: 10px;
  }
  /* #default-sidebar {
    background-color: rgb(174, 189, 204);
    color: #ffffff;
  } */
  
  .e-custom,
  .e-custom:hover,
  .e-custom:focus,
  .e-custom:active {
    background-color: hsl(234, 100%, 63%);
    color: #fff;
    margin: 5px;
    border-radius: 0;
    height: 80%;
  }
  .e-custom-close {
    background-color: hsl(240, 1%, 61%);
  }
  .tbl-cell {
    display: table-cell;
    padding-left: 40px;
    padding-right: 40px;
  }
  .cell-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .cell-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
  .treeviewBack {
    margin: 10px;
  }
  .e-sidebar {
    background-color: rgb(174, 189, 204);
    color: #ffffff;
    opacity: 0.7;
  }

  .e-grid .e-headercell {
    /* height: 130px; */
    color: darkblue;
    background-color: rgb(240, 236, 236);
    padding: 5px;      
  }

 .e-headercelldiv {
    width: 130px;
  }

  .customcss {
    transform: rotate(90deg);
}