<div class="loading-indicator" *ngIf="showLoader">
    <mat-spinner></mat-spinner>
</div>
<div style="margin: 50px;">
    <div tabindex="0" class="e-card" id="basic" *ngIf="loggedIn != true">
        <div class="e-card-header">
            <div class="e-card-header-caption">
                <div class="e-card-title">
                    <h5>Portal uposlenika - <span style="color:rgb(245, 198, 96);font-weight:bold">Perun</span></h5>
                </div>
                <div class="e-card-sub-title">
                    <p style="font-size: medium;font-variant-caps: all-petite-caps;">Digitalizacija poslovnih procesa
                    </p>
                </div>
            </div>
        </div>
        <div class="e-card-content">
            <strong>Perun je portal namijenjen uposlenicima kao digitalni prozor i komunikator prema organizaciji u
                kojoj
                rade. Preko njega unose informacije tokom rada ili odsustva, ali i dobijaju informacije od ljudskih
                resursa i
                menadžmenta.</strong>
            <p> </p>
            <p class="mb-0"> Sastoji od raznih funkcionalnih modula: evidencije rada i odsustva (dnevnik rada), kalendar
                rada i odsustva. i dr. Lista funkcionalnosti će vremenom biti proširivana - u ovisnosti kako napreduje
                digitalizacija poslovnih procesa koji se odnose na ljudske
                resurse.
            </p>
        </div>
        <div class="e-card-separator"></div>
        <div class="e-card-content">
            <p>
                Portal trenutno nudi sljedeće funkcionalnosti uposlenicima:
            </p>
            <ul>
                <li>
                    <p>
                        <strong>dnevnik rada</strong> - za unos odsustva i evidencija rada, uz opis aktivnosti kao i
                        satnice rada, namijenjen za uposlenike koji mogu raditi u bilo kom vremenskom intervalu
                    </p>
                </li>
                <li>
                    <p>
                        <strong>kalendar rada</strong> - za unos odsustva i evidencija rada, namijenjena za uposlenike
                        koji rade po šemi 8/5 (40 sati sedmično pon-pet).
                    </p>
                </li>

            </ul>

        </div>
        <div class="e-card-separator"></div>
        <div class="e-card-content">
            <p>
                <strong> <u>Da biste koristili portal, administrator vaše organizacije vam mora aktivirati pristup.</u> </strong>
            </p>
        </div>
    </div>
    <div tabindex="0" class="e-card" id="basic" *ngIf="loggedIn === true">
        <div class="e-card-separator"></div>
        <div class="e-card-header">
            <div class="e-card-header-caption">
                <div class="e-card-title">
                    <h5>Portal uposlenika - <span style="color:rgb(245, 198, 96);font-weight:bold">Perun</span></h5>
                </div>
                <div class="e-card-content">
                    <p id="contentText">
                        Prijavili ste se sa svojim računom: <span
                            style="color:rgb(245, 198, 96);font-weight:bold">{{email}}</span>. kao <strong>{{role}}.
                        </strong> Automatska odjava zbog neaktivnosti se može podesiti ovdje. Trenutno
                        je podešena na:
                        <ejs-dropdownlist id='ddlIdle' [width]='width' [popupWidth]='popupWidth' [popupHeight]='height'
                            cssClass='inlinecss' [dataSource]='data' [fields]='fields'
                            [(value)]='this.userSessionService.idleTime'
                            (select)='onSelect($event)'></ejs-dropdownlist>. Ako napravite novo podešavanje
                        neaktivnosti, ono će imati efekat nakon sljedeće prijave.
                    </p>
                </div>
            </div>
        </div>
        <div class="e-card-separator"></div>
        <div class="e-card-content">
            <p style="color:red;">
                Inicijalnu lozinku koja vam je dodijeljena morate promijeniti prilikom prvog prijavljivanja.
            </p>
            <p> Ukoliko ne promijenite lozinku prilikom prvog pristupa <span style="color:blue;font-weight:bold">
                    biće vam blokiran pristup portalu</span>. Ukoliko se to dogodi, zatražite od administratora da vam
                ponovo omogući pristup.</p>
            <p>
                Lozinku možete promijeniti klikom na ovaj link: <a id="sessEmail"
                    [routerLink]="['/login','changepassword']" [routerLinkActive]="['active']">
                    promjena lozinke za korisnika {{email}}</a>.
            </p>
        </div>
        <div class="e-card-separator"></div>
        <div class="e-card-separator"></div>
        <div class="e-card-content">
            <p><strong>
                    Zavisno od uloga koje su vam dodijeljene u poslovnim procesima, možete pristupati sistemu prema
                    dodijeljenim
                    pravima.
                </strong>
            </p>
            <p>
                Ukoliko imate više dodjeljenih uloga, možete ih međusobno mijenjati klikom na ovaj link: <a
                    id="sessEmail" [routerLink]="['/login', 'changerole']" [routerLinkActive]="['active']">
                    {{email}}</a> ili na svoj email u gornjem desnom uglu.
            </p>
        </div>
    </div>
</div>